body {
    background-color: chocolate;
    color: white;
    font-size: 3em;
}

#bloc {
    margin: auto;
    width: 50%;
    text-align: center;

}

#bloc:hover {
    width: 50%;
    border: 5px solid white;
    text-align: center;
    text-transform: uppercase;
    color: crimson;
    text-shadow: 3px 3px white;
    transition: 2s;
    border-radius: 30%;
    box-shadow: 5px 5px 5px gray;
    background-color: green;
}
